<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrainerMapper">
	<insert id="join">
		INSERT INTO P_TRAINER(
			ID
			, PW
			, NICK		
		)VALUES(
			#{id}
			, #{pw}
			, #{nick}
		)
	</insert>
	
	<select id="login" resultType="TrainerVo">
		SELECT *
		FROM P_TRAINER
		WHERE ID = #{id}
		AND PW = #{pw}
	</select>
	
	
	
</mapper>