body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
h1{
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
}
