table{
    font-size: 1.5em;
}
table > thead{
    background-color: rgb(0, 0, 0);
    color: white;
}
table > tbody >tr > td{
    border: 1px solid black;
}
table > tbody >tr > td:hover{
    background-color: lightgray;
    cursor: pointer;
}
#todoDetailArea{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    padding: 50px;
    background-color: white;
}
#modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    
    justify-content: center;
    align-items: center;
    display: none;
}
#modal.active{
    display: flex;
}