h1{
    /* 글씨체 */
    font-family: "용용체", "궁체", "굴림체";
    /* 텍스트 크기 */
    font-size: 64px;
    /* 텍스트 두깨 */
    font-weight: 900;
    /* 글자 스타일 */
    font-style: italic;
    /* 글자 색 */
    color: black;
    /* 데코레이션 */
    text-decoration: none;
    /* 트랜스폼 */
    text-transform: capitalize;
    /* 그림자 */
    text-shadow: 0px 0px 4px #ccc,
                0px -5px 4px #ff3,
                2px -10px 4px #fd3,
                -2px -15px 4px #f80,
                2px -19px 4px #f20;
    /* 글자 간격 */
    letter-spacing: 1px;
    /* 단어 간격 */
    word-spacing: 30px;
}
p{
    /* 문단 스타일 */
    text-align: justify;
}
div{
    background-color: gray;
    width: 100px;
    height: 50px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}