h1{
    background-color: red;
}
#target{
    background-color: blue;
    width: 50vw;
    height: 50vh;
}
#a{
    width: 300px;
    height: 300px;
    border: 3px solid black;
}
#b{
    width: 50vw;
    height: 50%;
    background-color: gray;
}
span{
    display: inline-block;
    background-color: green;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}
.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid black;
    background-color: gray;
    font-size: 2.5em;
    /* padding */
    padding: 30px;

    /* margin */
    /* margin: 30px; */
}
.test{
    background-color: aqua;
}
#t01{
    /* static: 문서의 흐름에 따라 배치 */
    /* position: static; */

    /* 상대 위치 */
    /* position: relative; */
    /* top: 50px; */
    /* right: 50px; */

    /* 절대위치: 부모요소 기준으로 이동 */
    /* position: absolute;
    top: 50px;
    left: 50px; */

    /* 고정위치: 화면 기준 */
    /* position: fixed;
    left: 50px;
    top: 50px; */

    /* 스티키 부모를 벗어나지 못함 */
    position: sticky;
    left: 50px;
    top: 50px;
}

#outer{
    position: relative;
    width: 500px;
    height: 500px;
    border: 5px dashed black;
}
