
#target{
    width: 300px;
    height: 300px;
    border: 5px dashed black;
    font-size: 3em;
    background-image: url(https://placehold.co/200x100);
    
    /* 반복 설정 */
    background-repeat: no-repeat;
    
    /* 이미지 크기 설정 */
    /* background-size: contain; */

    /* 이미지 위치 설정 */
    /* background-position: 30px center; */

    /* 이미지 배치 기준 설정 */
    /* background-origin: border-box; */

    background-attachment: fixed;
}