body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f0f4f9;

    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: white;
    width: 50vw;
    height: 40vh;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
#left{
    display: grid;
    grid-template-rows: 50px 50px 30px;
    grid-template-columns: 1fr;
    & > div:nth-child(2){
        font-size: 2em;
        font-weight: 700;
    }
}
#right{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    & > div > input{
        width: 400px;
        height: 50px;
    }
    & > div:nth-child(4){
        text-align: right;
    }
    & > div > button{
        width: 80px;
        height: 45px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 999px;
    }
}
