body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "맑은 고딕";
    font-size: 13px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
button{
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
#container{
    margin: 0 auto;
    width: 1080px;
}
header{
    position: relative;
    height: 35px;
    margin-top: 10px;
}
#menu{
    & > button{
        background-color: white;
        border-radius: 0px;
        border: 1px solid #e5e5e5;
    }
}
#specialMenu{
    border: 1px solid #e5e5e5;
    margin-top: 6px;
    padding: 14px 24px;
}
main{
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
#groupArea{
    width: 200px;
}
#cafeInfoData{
    & > ul{
        width: 100%;
        display: flex;
        border-top: 2px solid #333;
        border-bottom: 1px solid #e5e5e5;
        align-items: center;
        margin: 0;
        & > li{
            flex: 1;
            & > button{
                width: 100%;
                height: 38px;
                font-weight: bold;
                background-color: white;
                border: 0;
            }
        }
    }

}
#infoData{
    padding: 15px 10px 12px;
    border-bottom: 1px solid #e5e5e5;
    & > ul{
        display: flex;
        & > li:nth-child(2){
            margin-left: 5px;
        }
    }

}
#infoprofile{
    width: 58px;
    height: 58px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
}
#infoName{
    font-weight: bold;
}
#signup{
    background-color: #5a5a5a;
    width: 100%;
    height: 38px;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    border: 0;
}
#searchArea{
    margin-top: 10px;
    display: flex;
    & > input{
        width: 160px;
        height: 32px;
        padding: 0 12px;
        border-radius: 6px 0 0 6px;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
    }
    & > button{
        background-color: #03c75a;
        border-radius: 0 6px 6px 0;
        width: 40px;
        height: 32px;
        font-size: 13px;
        border: 0;
        color: white;
    }
}
#mainArea{
    width: 860px;
}
h3{
    font-size: 16px;
}
.mainContent{
    width: 50%;
}

.mainTable{
    width: 100%;
    border-top: 1px solid #333;
    & > tbody > tr > td:last-child{
        text-align: right;
    }
}
td{
    height: 28px;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
    & > span > a{
        text-overflow: ellipsis; 
        /* ??? */
    }
}
footer{
    border-top: 3px solid #333;
    
}


