html, body{
    padding: 0;
    margin: 0;
}

header{
    height: 20vh;
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-template-rows: 1fr;
    place-items: center center;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 700;
    & > div{
        width: 25%;
        height: 100%;
    }
    & > div:hover{
        background-color: gray;
    }
    & > div > a{
        text-decoration: none;
        &:visited{
            color: white;
        }
    }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}